# IVIS Unit Tests

@Viola, Dec 2016

In [1]:
%matplotlib inline

In [2]:
import pandas as pd
from data import *
from IVIS import *
import AnalysisAndLinePlot as al
import util as ut
import ipywidgets as widgets

In [3]:
# df = pd.read_csv('https://bit.ly/uforeports')
# df.head()

In [4]:
al.ctr_stats('Japan')

,count,mean,std,min,25%,50%,75%,max,sum
year,45.0,1992.488889,13.574077,1970.0,1981.0,1992.0,2004.0,2015.0,89662.0
kills,45.0,1.044444,2.662497,0.0,0.0,0.0,1.0,15.0,47.0
wounds,45.0,154.933333,928.632925,0.0,0.0,0.0,2.0,6225.0,6972.0
casualties,45.0,155.977778,930.851968,0.0,0.0,0.0,3.0,6240.0,7019.0
occurrences,45.0,8.888889,15.600440,0.0,1.0,3.0,12.0,93.0,400.0